{{> head }}

{{> navbar }}

<div class="row">
      <div class="col">
            <h1>Carro Deportivo</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cum, quae omnis molestias tenetur
                  sapiente fuga totam voluptatem, quibusdam rem, distinctio unde! Saepe eum, rem iusto blanditiis rerum
                  hic veritatis.</p>
      </div>

      <div class="col">
            <img src="assets/img/descarga.jfif" class="img-thumbnail" alt="">
      </div>
</div>


{{> footer}}